<div class="body">
    <main class="home">
        <div class="content">
            <article class="land">
                {{!-- <h2 class="welcome-header">Magnolia CMS Documentation</h2> --}}
                <div class="title-cards">
                    {{{page.contents}}}
                </div>
                <div class="feedback-banner">
                    {{!-- <p class="migration-notify">Are you looking for previous documentation versions?</p> --}}
                    {{!-- <ul>
                        <li> --}}
                            {{!-- <a href="https://documentation.magnolia-cms.com/display/DOCS61/" class="banner-link">Docs 6.1</a> &#x1F4D6; --}}
                        {{!-- </li>
                        <br>
                        <li> --}}
                            {{!-- <a href="https://documentation.magnolia-cms.com/display/DOCS57/" class="banner-link">Docs 5.7</a> --}}
                        {{!-- </li>
                    </ul> --}}
                    <br>
                    <p style="text-align: center; font-size: 1.45rem;">The new home of Magnolia documentation</p>
                    <!-- Trigger/Open The Modal -->
                    <button id="myBtn" class="migrate">More info</button>
                </div>
            </article>
        </div>
    </main>
</div>