<div id="feedback" class="tooltip">
    <a href="{{{siteRootPath}}}/platform-cloud/security/mcp-security-brief.html" target="_blank" rel="noopener">
       <i class="fa fa-key" aria-hidden="true"></i>
       <span class="tooltiptext">Security Brief</span>
    </a>
</div>
