<footer class="footer">
  <div class="container">
    <div class="footer-links">
      <div class="col">
        <div class="footer-logo">
          <a href="https://www.magnolia-cms.com" class="icon">
            <img src="{{{uiRootPath}}}/img/magnolia-logo-blanco.png" alt="Magnolia">
          </a>
        </div>
      </div>
      <div class="col">
        <ul>
          <li><a href="https://www.magnolia-cms.com/get-started/developer-trial.html" target="_blank" rel="noopener">Developer Trial</a></li>
          <li><a href="https://hd.magnolia-cms.com/" target="_blank" rel="noopener">Headless Docs</a></li>
          <li><a href="https://wiki.magnolia-cms.com/" target="_blank" rel="noopener">Community Wiki</a></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><a href="https://www.magnolia-cms.com/support.html" target="_blank" rel="noopener">Support</a></li>
          <li><a href="https://magnolia-cms.com/blog" target="_blank" rel="noopener">Blog</a></li>
          <li><a href="https://www.magnolia-cms.com/training" target="_blank" >Training</a></li>
        </ul>
      </div>
      <div class="col">

      </div>
      <div class="col" style="padding-left: 1.5rem;">
        <ul class="social-icons">
          <li class="facebook">
            <a href="https://www.facebook.com/Magnolia" target="_blank" class="icon">
              <svg width="50px" height="50px" viewBox="26.363 116.363 560.215 560.215"><path d="m586.58 209.58c0-48.96-44.252-93.212-93.212-93.212h-373.79c-48.96 0-93.212 44.252-93.212 93.212v373.79c0 48.96 44.252 93.212 93.212 93.212h186.42v-211.85h-68.732v-93.212h68.732v-36.72c0-63.083 47.077-119.58 105.45-119.58h75.323v93.212h-75.323c-8.474 0-17.889 10.357-17.889 25.422v37.662h93.212v93.212h-93.212v211.85h99.803c48.96 0 93.212-44.252 93.212-93.212v-373.79z"/></svg>
            </a>
          </li>
          <li class="twitter">
            <a href="https://twitter.com/magnolia_cms" target="_blank" class="icon">
              <svg width="50px" height="50px" viewBox="32.012 176.622 542.326 437.815"><path d="m574.34 227.46c-19.772 8.474-41.428 15.065-64.025 17.889 22.597-14.123 40.486-35.778 48.96-61.2-21.655 13.182-45.194 21.655-70.615 27.305-20.714-21.655-48.96-34.837-80.972-34.837-61.2 0-111.1 49.902-111.1 111.1 0 8.474 0.942 16.948 2.825 25.422-92.271-5.649-174.18-49.902-229.74-117.69-9.415 16.006-15.065 35.778-15.065 55.551 0 38.603 19.772 72.498 49.902 92.271-17.889-0.942-35.778-5.649-50.843-14.123v0.942c0 53.668 38.603 98.862 89.446 109.22-9.415 2.825-18.831 3.766-29.188 3.766-7.532 0-14.123-0.942-20.714-1.883 14.123 44.252 55.551 76.265 103.57 77.206-37.662 30.129-85.68 48.018-138.41 48.018-9.415 0-17.889-0.941-26.363-1.883 48.96 32.012 107.34 49.902 170.42 49.902 204.31 0 316.36-169.48 316.36-316.36v-14.123c21.656-14.125 40.487-33.897 55.551-56.494z"/></svg>
            </a>
          </li>
          <li class="linkedin">
            <a href="https://www.linkedin.com/company/magnolia-cms" target="_blank" class="icon">
              <svg width="50px" height="50px" viewBox="31.071 119.188 539.537 540.443"><path d="m531.97 119.19h-461.35c-21.655 0-39.545 16.948-39.545 38.603v463.24c0 21.655 17.889 38.603 39.545 38.603h460.41c21.655 0 39.545-16.948 39.545-38.603v-463.24c0.942-21.656-16.947-38.603-38.603-38.603zm-337.07 451.94h-81.914v-243.86h81.914v243.86zm-40.486-276.81c-28.246 0-46.135-18.831-46.135-42.369s17.889-42.369 46.135-42.369 45.194 17.889 45.194 42.369c0.942 23.538-16.948 42.369-45.194 42.369zm335.19 276.81h-81.914v-129.93c0-32.954-12.24-55.551-41.428-55.551-22.597 0-35.778 15.065-41.428 30.129-1.883 5.649-2.825 12.24-2.825 19.772v136.52h-81.914s0.942-221.26 0-243.86h81.914v34.837c11.298-16.948 30.129-40.486 73.44-40.486 53.668 0 94.154 34.837 94.154 110.16l1e-3 138.41zm-168.54-208.08s0.941-0.941 0 0z"/></svg>
            </a>
          </li>
          <li class="youtube">
            <a href="https://www.youtube.com/channel/UCKq5WUu8lM799JNKmu49jZA" target="_blank">
              <svg width="50px" height="100px" viewBox="0 0 512 512"><polygon fill="none" points="222.1 313.9 322.3 256 222.1 198.1"/><path d="M443.2,98.2c-55.9-3.7-146.9-7.1-187.2-7.1s-131.3,3.5-187.2,7.1c-24,1.6-42.8,21.6-42.8,45.7v224.2   c0,24,18.8,44.1,42.8,45.7c55.9,3.7,146.9,7.1,187.2,7.1s131.3-3.5,187.2-7.1c24-1.6,42.8-21.6,42.8-45.7V143.9   C486,119.9,467.2,99.8,443.2,98.2z M347.3,264.7l-130.2,75.2c-1.5,0.9-3.3,1.3-5,1.3s-3.5-0.4-5-1.3c-3.1-1.8-5-5.1-5-8.7V180.8   c0-3.6,1.9-6.9,5-8.7s6.9-1.8,10,0l130.2,75.2c3.1,1.8,5,5.1,5,8.7C352.3,259.6,350.4,262.9,347.3,264.7z"/><path fill="#231f20" d="M444.5,78.3c-56.3-3.7-147.9-7.2-188.5-7.2s-132.3,3.5-188.5,7.2C33,80.5,6,109.4,6,143.9v224.2   c0,34.5,27,63.4,61.5,65.6c56.3,3.7,147.9,7.2,188.5,7.2s132.3-3.5,188.5-7.2c34.5-2.3,61.5-31.1,61.5-65.6V143.9   C506,109.4,479,80.5,444.5,78.3z M486,368.1c0,24-18.8,44.1-42.8,45.7c-55.9,3.7-146.9,7.1-187.2,7.1s-131.3-3.5-187.2-7.1   c-24-1.6-42.8-21.6-42.8-45.7V143.9c0-24,18.8-44.1,42.8-45.7c55.9-3.7,146.9-7.1,187.2-7.1s131.3,3.5,187.2,7.1   c24,1.6,42.8,21.6,42.8,45.7V368.1z"/><path fill="#231f20" d="M347.3,247.3l-130.2-75.2c-3.1-1.8-6.9-1.8-10,0s-5,5.1-5,8.7v150.4c0,3.6,1.9,6.9,5,8.7   c1.5,0.9,3.3,1.3,5,1.3s3.5-0.4,5-1.3l130.2-75.2c3.1-1.8,5-5.1,5-8.7C352.3,252.4,350.4,249.1,347.3,247.3z M222.1,313.9V198.1   L322.3,256L222.1,313.9z"/></svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-terms">
      <span>{{{year}}} Magnolia International Ltd. Some rights reserved.</span>
      <a href="https://www.magnolia-cms.com/legal/privacy.html" target="_blank">Privacy policy</a>
    </div>
  </div>
</footer>
