{{!-- <form>
    <input type="text" placeholder="Search.." name="search" id="#searchBar">
    <button type="submit"><i class="fa fa-search"></i></button>
</form> --}}

    <input type="search" placeholder="Search Cloud docs..." name="search" id="searchBar" disabled>

{{!-- <i class="fas fa-search"></i> --}}
{{!-- &#x1F50E --}}