<div class="col">
  <ul>
    <li><a href="https://www.magnolia-cms.com/get-started/developer-trial.html" target="_blank" rel="noopener">Developer Trial</a></li>
    <li><a href="https://hd.magnolia-cms.com/" target="_blank" rel="noopener">Headless Docs</a></li>
    <li><a href="https://wiki.magnolia-cms.com/" target="_blank" rel="noopener">Community Wiki</a></li>
  </ul>
</div>
<div class="col">
  <ul>
    <li><a href="https://www.magnolia-cms.com/support.html" target="_blank" rel="noopener">Support</a></li>
    <li><a href="https://magnolia-cms.com/blog" target="_blank" rel="noopener">Blog</a></li>
    <li><a href="https://www.magnolia-cms.com/training" target="_blank" >Training</a></li>
  </ul>
</div>
<div class="col">
  <ul>
    <li><a href="https://www.magnolia-cms.com/library.html" target="_blank" >Magnolia Resources</a></li>
    <li><a href="https://www.magnolia-cms.com/product/architecture-and-tech-stack.html" target="_blank" >Architecture and Tech Stack</a></li>
    <li><a href="http://mgnl.io/roadmap" target="_blank" >Product Roadmap</a></li>
  </ul>
</div>


<div class="footer-terms">
  <span>{{{year}}} Magnolia International Ltd. Some rights reserved.</span>
  <a href="https://www.magnolia-cms.com/legal/privacy.html" target="_blank">Privacy policy</a>
</div>

